build.bat
*.chunk
*.bat
*.jpg
*.txt

utils.py
icons/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
publisher.py
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


build.bat